body{
  
.sidebar-logo {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

  .profile-section-image {
    max-width: 100%;
    height: auto;
    display: block;
}
