body{
  
.sidebar-logo {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}
.profile-section {
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;
    height: 75vh;
    background-color: #8b4423;
    overflow: hidden;
    border-radius: 12px 0 0 12px;
}
  .profile-section-image {
    max-width: 100%;
    height: auto;
    display: block;
}
